.inputFriendMail{
  width: 260px;
  border-radius: 5px 0 0 5px;
}

.addFriendButton{
  width: 50px;
  height: 45px;
  border-radius: 0 5px 5px 0;
}

/*
.deleteFriendButton{
  border-radius: 5px;
  margin-left: auto;
  margin-right: 10px;
  width: 25px;
  height: 25px;
}
*/

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
