<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script>
        // var socket = io.connect('http://' + document.domain + ':' + location.port);
        // socket.on('message', function (data) {
        //     console.log('received message: ' + data);
        // });

        $(document).ready(function () {

            // sending a connect request to the server.
            var socket = io.connect('http://' + document.domain + ':' + location.port);
            // // An event handler for a change of value 
            // $('input.sync').on('input', function (event) {
            //     socket.emit('Slider value changed', {
            //         who: $(this).attr('id'),
            //         data: $(this).val()
            //     });
            //     return false;
            // });

            socket.on('answer', function (msg) {
                console.log('Connected', msg);
            });

            // socket.on('update value', function (msg) {
            //     console.log('Slider value updated');
            //     $('#' + msg.who).val(msg.data);
            // });
            socket.emit('message', 'hello from client');
        });


    </script>
</head>

<body>
    <h1>WebSockets Example with Flask</h1>
    <div id="server_update">
        <h2>Server message:</h2>
    </div>
</body>

</html>