body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  width: 360px;
  height: 640px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  width: 320px;
  height: 69px;
  border: 1px solid #EBEBEB;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 7px;
}

li:hover {
  border-left: 2px solid #365830;
}

button {
  background-color: #365830;
  color: #ffffff;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: black;
}
